@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Lato:wght@100&family=Roboto:wght@100&family=Sofia&family=Spline+Sans:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin : 0;
  box-sizing: border-box;
  font-family: 'Gugi', sans-serif;
/* font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sofia', cursive;
font-family: 'Spline Sans', sans-serif; */
  
}


.main{
  width: 100%;
  height: 100vh;
  background: url('../image/happy_new_year.jpg') center center;
  background-size: cover;
}

.overlay {
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* color: white; */
  background-color: rgba(0, 0, 0, 0.4);
}

.title {
  margin-top: 10px;
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.col {
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  color: white;
}

.col div{
  width: 250px;
  text-align: center;
}

label{
  display: flex;
  flex-direction: column;
  margin: 5px;
}

input {
  width: 45%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border-color: transparent;
  text-align: center;
  font-size: 25px;
}